[submodule "extensions/securityonion/vendor/ludus-source-meow"]
	path = extensions/securityonion/vendor/ludus-source-meow
	url = https://github.com/ryokubaka/ludus-source-meow.git
	branch = feat/securityonion-3.3.0
