{
  "checksum": "",
  "roots": {
    "bookmark_bar": {
      "children": [
        {
          "date_added": "13274476200000000",
          "id": "1",
          "name": "{{ bookmark_name }}",
          "type": "url",
          "url": "{{ bookmark_url }}"
        }
      ],
      "name": "Bookmarks bar",
      "type": "folder"
    },
    "other": {
      "children": [],
      "name": "Other bookmarks",
      "type": "folder"
    },
    "synced": {
      "children": [],
      "name": "Mobile bookmarks",
      "type": "folder"
    }
  },
  "version": 1
}
