#Aleem Ladha @LadhaAleem
#Credits to SOCFortress and Mayfly277
- name: Enable nat interface (server)
  hosts: wazuh_server
  gather_facts: false
  tasks:
    - name: Find interface with IP ending in .51
      set_fact:
        target_interface: "{{ ansible_facts.interfaces | selectattr('ipv4', 'defined') | selectattr('ipv4.address', 'match', '.*\\.51$') | first }}"
      register: interface_result

    - name: Enable NAT interface
      shell: 'ip link set {{ target_interface }} up'
      become: true

- name: Enable nat interface (windows)
  hosts: wazuh_agents
  gather_facts: false
  roles:
    - { role: 'settings/enable_nat_adapter' , tags: 'enable_nat_adapter'}

- name: Install and configure Wazuh Manager
  hosts: wazuh_server
  become: yes
  roles:
    - { role: 'wazuh_manager', tags: 'wazuh_manager' }

- name: Install Wazuh Agent
  hosts: wazuh_agents
  roles:
    - { role: 'wazuh_agent', tags: 'wazuh_agent' }
  vars:
    wazuh_manager_host: "{{ hostvars['wazuh']['ansible_host'] }}"

- name: Disable nat interface (windows)
  hosts: wazuh_agents
  gather_facts: false
  roles:
    - { role: 'settings/disable_nat_adapter' , tags: 'disable_nat_adapter'}

- name: Disable nat interface (server)
  hosts: wazuh_server
  gather_facts: false
  tasks:
    - name: Find interface with IP ending in .50
      set_fact:
        target_interface: "{{ ansible_facts.interfaces | selectattr('ipv4', 'defined') | selectattr('ipv4.address', 'match', '.*\\.51$') | first }}"
      register: interface_result

    - name: Disable NAT interface
      shell: 'ip link set {{ target_interface }} down'
      become: true