- name: ensure .NET Framework 4.8 requirement is satisfied for Chocolatey CLI v2.0.0+
  block:
  - name: install Chocolatey CLI v1.4.0
    win_chocolatey:
      name: 'chocolatey'
      state: present
      version: '1.4.0'
    ignore_errors: true

  - name: install Microsoft .NET Framework 4.8
    win_chocolatey:
      name: netfx-4.8
      state: present

  - name: Reboot the host to complete .NET Framework 4.8 install
    ansible.windows.win_reboot:

  - name: Check if 192.0.2.2:8081 is reachable
    win_wait_for:
      host: 192.0.2.2
      port: 8081
      timeout: 5
      state: started
    register: repo_check
    ignore_errors: yes

  - name: Set variable if repo is reachable
    set_fact:
      repo_reachable: true
    when: repo_check is not failed

  - name: Add new internal source
    win_chocolatey_source:
      name: internal repo
      state: present
      source: http://192.0.2.2:8081/repository/chocolatey-proxy/
    when: repo_reachable is defined and repo_reachable

  - name: install Chocolatey CLI v2.0.0+ when .NET Framework 4.8 dependency is met
    win_chocolatey:
      name: chocolatey
      state: latest

- name: Disable enhanced exit codes
  win_chocolatey_feature:
    name: useEnhancedExitCodes
    state: disabled

- name: Install multiple packages sequentially
  win_chocolatey:
    name: '{{ item }}'
    state: present
    ignore_checksums: true
  with_items:
  - notepadplusplus
  - putty
  - python
  - git
  - 7zip
  - sysinternals
  - wget
  - pstools
  - microsoft-edge
  - microsoft-teams
  - wireshark
  ignore_errors: yes