[defaults]
host_key_checking = false
show_per_host_start     = True

; reuse roles from securityonion extension (no copy)
roles_path = ../securityonion/ansible/roles:../../../ansible/roles

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o GlobalKnownHostsFile=/dev/null
