[defaults]
host_key_checking = false
show_per_host_start     = True

; Same ludus-source-meow submodule as the securityonion extension.
roles_path = ../../securityonion/vendor/ludus-source-meow/ansible/roles:../../../ansible/roles

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o GlobalKnownHostsFile=/dev/null
