[defaults]
host_key_checking = false
show_per_host_start     = True

; ./roles entries are symlinks into the securityonion extension's ludus-source-meow checkout.
roles_path = ./roles:../../../ansible/roles

[ssh_connection]
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o UserKnownHostsFile=/dev/null -o GlobalKnownHostsFile=/dev/null
