- name: "disable interface {{nat_adapter}}"
  win_shell: netsh interface set interface "{{nat_adapter}}" disable
  register: disable_adapter_interface
  until: "disable_adapter_interface is not failed"
  retries: 3
  delay: 5
  when: (two_adapters | default(false)) and not (ludus | default(false))
  ignore_errors: true