- name: Enable nat interface (server)
  hosts: velociraptor_server
  gather_facts: false
  tasks:
    - name: Enable NAT interface
      shell: 'ip link set eth0 up'
      become: true

- name: Enable nat interface (windows)
  hosts: domain
  gather_facts: false
  roles:
    - { role: 'settings/enable_nat_adapter' , tags: 'enable_nat_adapter'}

- name: Install velociraptor server and client on hosts
  hosts: velociraptor_all
  roles:
    - { role: 'velociraptor', tags: 'velociraptor' }

- name: Disable nat interface (windows)
  hosts: domain
  gather_facts: false
  roles:
    - { role: 'settings/disable_nat_adapter' , tags: 'disable_nat_adapter'}

- name: Disable nat interface (server)
  hosts: velociraptor_server
  gather_facts: false
  tasks:
    - name: Find interface with IP ending in .52
      set_fact:
        target_interface: "{{ ansible_interfaces | selectattr('ipv4.address', 'match', '.*\\.52$') | map(attribute='device') | first }}"
      register: interface_result

    - name: Disable NAT interface
      shell: 'ip link set {{ target_interface }} down'
      become: true