- name: Enable nat interface (server)
  hosts: velociraptor_server
  gather_facts: false
  tasks:
    - name: NAT interface check
      block:
        - name: Find NAT interface
          set_fact:
            target_interface: "{{ ansible_facts.interface[1] }}"
          register: interface_result

        - name: Enable NAT interface
          shell: 'ip link set {{ target_interface }} up'
          become: true
      when: (two_adapters | default(false)) == true

- name: Enable nat interface (windows)
  hosts: domain
  gather_facts: false
  roles:
    - { role: 'settings/enable_nat_adapter' , tags: 'enable_nat_adapter'}

- name: Install velociraptor server and client on hosts
  hosts: velociraptor_all
  roles:
    - { role: 'velociraptor', tags: 'velociraptor' }

- name: Disable nat interface (windows)
  hosts: domain
  gather_facts: false
  roles:
    - { role: 'settings/disable_nat_adapter' , tags: 'disable_nat_adapter'}

- name: Disable nat interface (server)
  hosts: velociraptor_server
  gather_facts: false
  tasks:
    - name: NAT interface check
      block:
        - name: Find NAT interface
          set_fact:
            target_interface: "{{ ansible_facts.interfaces[1] }}"
          register: interface_result

        - name: Disable NAT interface
          shell: 'ip link set {{ target_interface }} down'
          become: true
      when: (two_adapters | default(false)) == true