- name: "enable interface {{nat_adapter}}"
  win_shell: netsh interface set interface "{{nat_adapter}}" enable
  register: enable_adapter_interface
  until: "enable_adapter_interface is not failed"
  retries: 3
  delay: 5
  when: two_adapters and not (ludus | default(false))
  ignore_errors: true