# - name: Prepare jumpbox to connect
#   hosts: localhost
#   become: true
#   tasks:
#     - name: Install sshpass
#       apt:
#         name: sshpass
#         state: latest

- name: Install ELK #and RITA
  hosts: elk_server
  become: true
  roles:
    - { role: 'elk', tags: 'elk' }
   # - { role: 'rita', tags: 'rita' }
  pre_tasks:
    - name: Find NAT interface
      set_fact:
        target_interface: "{{ ansible_facts.interfaces[1] }}"
      register: interface_result

    - name: Enable NAT interface
      shell: 'ip link set {{ target_interface }} up'
  tasks:
    - name: Disable NAT interface
      shell: 'ip link set {{ target_interface }} down'

- name: Install log agent on windows vms and disable the NAT adapter
  hosts: elk_log
  roles:
    - { role: 'settings/enable_nat_adapter' , tags: 'enable_nat_adapter'}
    - { role: 'logs_windows', tags: 'agent' }
    - { role: 'settings/disable_nat_adapter' , tags: 'disable_nat_adapter'}
