## GitLab configuration settings
external_url "https://{{gitlab_domain}}"
gitlab_rails['omniauth_allow_single_sign_on'] = ['saml']
gitlab_rails['omniauth_block_auto_created_users'] = false
gitlab_rails['omniauth_auto_link_saml_user'] = true
gitlab_rails['omniauth_providers'] = [
  {
    name: "saml", # This must be lowercase.
    label: "Ludus", # optional label for login button, defaults to "Saml"
    args: {
      allowed_clock_drift: 60,
      assertion_consumer_service_url: "https://{{gitlab_domain}}/users/auth/saml/callback",
      idp_cert_fingerprint: "{{adfs_token_signing_thumbprint}}",
      idp_sso_target_url: "https://{{adfs_fqdn}}/adfs/ls",
      issuer: "https://{{gitlab_domain}}",
      name_identifier_format: "urn:oasis:names:tc:SAML:1.1:nameid-format:emailAddress",
      attribute_statements: { email: ["email"] }
    }
  }
]
nginx['redirect_http_to_https'] = true